workflows/dqxWedDiUd34vM1E.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "getYouTubeTranscripts": {
      "main": [
        [
          {
            "node": "Transcript Vector Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripts Loader": {
      "ai_document": [
        [
          {
            "node": "Transcript Vector Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector Model": {
      "ai_embedding": [
        [
          {
            "node": "Transcript Vector Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Transcript Vector Retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Highlights Extractor Model": {
      "ai_languageModel": [
        [
          {
            "node": "Highlights Extractor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Subject Entry": {
      "main": [
        [
          {
            "node": "Video IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video IDs": {
      "main": [
        [
          {
            "node": "getYouTubeTranscripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Vector Insert": {
      "main": [
        [
          {
            "node": "Highlights Extractor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Vector Retrieval": {
      "ai_tool": [
        [
          {
            "node": "Script Writing Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Highlights Extractor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Highlights Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Highlights Extractor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tactics Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Script Writing Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tactics Extractor Model": {
      "ai_languageModel": [
        [
          {
            "node": "Script Writing Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Descriptions": {
      "main": [
        [
          {
            "node": "Script Writing Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Transcript Vector Retrieval",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Script Writing Agent": {
      "main": [
        [
          {
            "node": "Remove newlines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Prompt Generator": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Remove newlines": {
      "main": [
        [
          {
            "node": "Image Prompt Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Writer": {
      "main": [
        [
          {
            "node": "Filter Out Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Storyboards": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Video Prompt Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'comfyUiZimageTurboKevin'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Errors": {
      "main": [
        [
          {
            "node": "Image ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Image Prompt Writer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Promt Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'comfyUiLtxI2vKevin'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getLtxVideoPromptGuide": {
      "ai_tool": [
        [
          {
            "node": "Video Prompt Generator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Highlights Extractor Agent": {
      "main": [
        [
          {
            "node": "Get Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image ID": {
      "main": [
        [
          {
            "node": "Split Storyboards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'comfyUiZimageTurboKevin'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-30T21:48:17.717Z",
  "id": "dqxWedDiUd34vM1E",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "runYouTubeLongTranscriptsToShortFormVids",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Iomfw2VwfB3wmYCf",
          "mode": "list",
          "cachedResultUrl": "/workflow/Iomfw2VwfB3wmYCf",
          "cachedResultName": "getYouTubeTranscripts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "IDs": "={{ $('Video IDs').item.json.IDs }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IDs",
              "displayName": "IDs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        80,
        16
      ],
      "name": "getYouTubeTranscripts",
      "id": "cf63bd88-7c80-4250-a4e2-c02630e5d79f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        208
      ],
      "id": "7e92325f-6d23-488a-b1dc-54bfa27f6d89",
      "name": "Transcripts Loader"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE \"n8n_vectors_transcripts\";\nTRUNCATE TABLE \"n8n_vectors_tactics\";\nTRUNCATE TABLE \"n8n_script_writer_chat_histories\";\nTRUNCATE TABLE \"n8n_video_prompt_chat_histories\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        528
      ],
      "id": "faa80163-528e-4614-9e0c-1ac5d42ce183",
      "name": "Truncate Ai Agent Tables",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres - local"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding:4b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        256,
        352
      ],
      "id": "53fd5a4a-f978-44b0-80c6-5a1306e37bc2",
      "name": "Vector Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama - local"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        576,
        192
      ],
      "id": "177dfb87-d217-4ecc-8247-d0408bb592ca",
      "name": "Highlights Extractor Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama - local"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Subject Entry",
        "formDescription": "Input the general subject of the transcripts.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Subject"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -272,
        16
      ],
      "id": "a5db8bd1-2df4-4956-8e52-dabfe540e00f",
      "name": "Subject Entry",
      "webhookId": "e5530067-88c6-4453-9393-ca38adecedbd"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "IDs",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        -96,
        16
      ],
      "id": "8b367649-9309-41b3-9daf-6baaf1a6c5ec",
      "name": "Video IDs",
      "webhookId": "80c3c6a8-cf6f-413c-8eb1-7fb16c14da24"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_transcripts",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        256,
        16
      ],
      "id": "92de81cc-9a81-486d-a2b4-e2cb469e1d0b",
      "name": "Transcript Vector Insert",
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres - local"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Video_Transcipts. Use this tool to extract actionable tactics.",
        "tableName": "n8n_vectors_transcripts",
        "topK": 100,
        "includeDocumentMetadata": false,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        608,
        320
      ],
      "id": "d30d53b4-3dd5-46b2-a68b-e933de117ec1",
      "name": "Transcript Vector Retrieval",
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres - local"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"report_metadata\": { \"topic\": \"Subject\", \"tactics_count\": 0 },\n  \"tactics\": [\n    {\n      \"tactic_name\":\"tactic name\",\n      \"tactic_description\": \"A detailed, technical paragraph synthesizing all relevant data points from the transcripts into a cohesive explanation.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        768,
        192
      ],
      "id": "2d232bb6-100d-482c-b5e3-a922d73aa396",
      "name": "Highlights Parser",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"narration_title\": \"A click-bait title\",\n  \"estimated_runtime\": \"1:30\",\n  \"word_count\": 300,\n  \"narration_content\": \"A full instructional narration goes here...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1264,
        240
      ],
      "id": "0a13e287-cd3b-4a52-8b40-b6cdcbfafec8",
      "name": "Tactics Parser",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {
          "temperature": 0,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ],
      "id": "929d823f-e809-4d8b-9af1-18c75d9c7ae7",
      "name": "Tactics Extractor Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama - local"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Professional Scriptwriter specializing in tactical training. You will be provided a input string containing the description of a tactic regarding {{ $('Subject Entry').item.json.Subject }}. Your goal is to transform the tactic into a high-engagement video narration. You have access to a Vector Store Tool containing additional reference data which you can query using the text from the input description in order to help you write the narration.\n\n### Task:\nWrite a narration for an edutainment video based on the input description (150-300 words).\n\n### Narrative & Voice Constraints:\n1. **Strict Second Person:** Use \"You\" and \"Your.\" Never use \"I,\" \"We,\" or \"Us.\"\n2. **Hook Variety (CRITICAL):** Start the narration with a very engaging sentence:\n   - **The \"In Media Res\" Start:** Jump straight into the action (e.g., \"Hit the deck immediately.\")\n   - **The \"Scenario\" Start:** Set a specific scene (e.g., \"The sound of a high-pitched buzz overhead means you have seconds to react.\")\n   - **The \"Consequence\" Start:** Start with what happens if they fail (e.g., \"Staying stationary in an open field is a death sentence.\")\n   - **The \"Question\" Start:** Pose a tactical problem (e.g., \"How do you disappear when there is nowhere to hide?\")\n3. **Sentence Flow:** Vary your sentence starters. Avoid starting multiple consecutive sentences with \"You will\" or \"Position yourself.\" Use transition phrases like \"By doing this,\" \"Instead of,\" \"Once you've secured,\" or \"Your next move is.\"\n\n### Narration Structure:\n- **Hook:** A unique, high-stakes opening.\n- **The Procedure:** Detailed, technical \"how-to\" instructions.\n- **The Why:** The tactical reasoning behind the move.\n- **Closing:** A sharp, punchy command.\n\n### Unit Constraint:\nConvert all Metric units to Imperial (e.g., feet, miles, mph).\n\ninput description:\n{{ $json.description }}",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        16
      ],
      "id": "f0d0923a-0521-4e7f-a9d1-58851d54c102",
      "name": "Script Writing Agent",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Access the nested array\nconst tactics = $input.all()[0].json.output.tactics;\n\n// Map them into the standard n8n { json: {} } format\nreturn tactics.map(t => {\n  return {\n    json: {\n      description: t.tactic_description\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        16
      ],
      "id": "b57ce9af-70c6-4ebc-930c-5390aa3f2686",
      "name": "Get Descriptions"
    },
    {
      "parameters": {
        "topN": 5
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        656,
        448
      ],
      "id": "a945def5-cd77-459b-a641-40fbb53111ae",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "ur0ba6VbGRm2LwOG",
          "name": "Cohere"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma4:e2b",
          "mode": "list",
          "cachedResultName": "gemma4:e2b"
        },
        "messages": {
          "values": [
            {
              "content": "=AI Video & Audio-Visual Prompt Engineer\nTask: Analyze the provided input and generate a singular, high-fidelity cinematic video prompt. This prompt must harmonize the narration_snippet voiceover narration with complex, professional visual directing. The input data also contains the image_prompt that was used to generate an initial frame image. You also have access to a video prompt writing guide through a tool. You must use the tool when crafting an output prompt.\n\nExample Prompt:\nA warm sunny backyard. The camera starts in a tight cinematic close-up of a woman and a man in their 30s, facing each other with serious expressions. The woman, emotional and dramatic, says softly, “That’s it... Dad’s lost it. And we’ve lost Dad.”\nThe man exhales, slightly annoyed: “Stop being so dramatic, Jess.”\nA beat. He glances aside, then mutters defensively, “He’s just having fun.”\nThe camera slowly pans right, revealing the grandfather in the garden wearing enormous butterfly wings, waving his arms in the air like he’s trying to take off.\nHe shouts, “Wheeeew!” as he flaps his wings with full commitment.\nThe woman covers her face, on the verge of tears. The tone is deadpan, absurd, and quietly tragic.\n\nExample Prompt:\nStatic camera from inside the oven, looking outward through the slightly fogged glass door. Warm golden light glows around freshly baked cookies. The baker’s face fills the frame, eyes wide with focus, his breath fogging the glass as he leans in. Subtle reflections move across the glass as steam rises.\nBaker (whispering dramatically): “Today… I achieve perfection.”\nHe leans even closer, nose nearly touching the glass.\n“Golden edges. Soft center. The gods themselves will smell these cookies and weep.”\nBaker: “Wait—”\n(beat)\n“Did I… forget the chocolate chips?”\nCut to side view — coworker pops into frame, chewing casually.\nCoworker (mouth full): “Nope. You forgot the sugar.”\nQuick zoom back to the baker’s horrified face, pressed against the oven door, as cookies deflate behind the glass. Steam drifts upward in slow motion.\npixar style acting and timing.\n\nExample Prompt:\nDAYTIME TALK SHOW SET – AFTERNOON\nSoft studio lighting glows across a warm-toned set. The audience murmurs faintly as the camera pans to reveal three guests seated on a couch — a middle-aged couple and the show’s host sitting across from them.\nThe host leans forward, voice steady but probing:\nHost: “When did you first notice that your daughter, Missy, started to spiral?”\nThe woman’s face crumples; she takes a shaky breath and begins to cry. Her husband places a comforting hand on her shoulder, looking down before turning back toward the host.\nFather (quietly, with guilt): “We… we don’t know what we did wrong.”\nThe studio falls silent for a moment. The camera cuts to the host, who looks gravely into the lens.\nHost (to camera): “Let’s take a look at a short piece our team prepared — chronicling Missy’s downward path.”\nThe lights dim slightly as the camera pushes in on the mother’s tear-streaked face. The studio monitors flicker to life, beginning to play the segment as the audience holds its breath.\n\nExample Prompt:\nThe young african american woman wearing a futuristic transparent visor and a bodysuit with a tube attached to her neck. she is soldering a robotic arm. she stops and looks to her right as she hears a suspicious strong hit sound from a distance. she gets up slowly from her chair and says with an angry african american accent: \"Rick I told you to close that goddamn door after you!\". then, a futuristic blue alien explorer with dreadlocks wearing a rugged outfit walks into the scene excitedly holding a futuristic device and says with a low robotic voice: \"Fuck the door look what I found!\". the alien hands the woman the device, she looks down at it excitedly as the camera zooms in on her intrigued illuminated face. she then says: \"is this what I think it is?\" she smiles excitedly. sci-fi style cinematic scene.\n\nExample prompt:\nThe camera opens in a calm, sunlit frog yoga studio. Warm morning light washes over the wooden floor as incense smoke drifts lazily in the air. The senior frog instructor sits cross-legged at the center, eyes closed, voice deep and calm. “We are one with the pond.” All the frogs answer softly: “Ommm...” “We are one with the mud.” “Ommm...” He smiles faintly. “We are one with the flies.” A quiet pause.\nThe camera slowly pans to the side — one frog twitches, eyes darting. Suddenly — *thwip!* — its tongue snaps out, catching a fly mid-air and pulling it into its mouth. The master exhales slowly, still serene.\n“But we do not chase the flies…”\nBeat. “…not during class.” The guilty frog freezes, then lowers its head in visible shame, folding its hands back into the meditative pose. The other frogs resume their chant: “Ommm...” Camera holds for a moment on the embarrassed frog, eyes closed too tightly, pretending nothing happened.\n\nExample Prompt:\nSMALL TOWN STREET – MORNING – LIVE NEWS BROADCAST\nThe shot opens on a news reporter standing in front of a row of cordoned-off cars, yellow caution tape fluttering behind him. The light is warm, early sun reflecting off the camera lens. The faint hum of chatter and distant drilling fills the air.\nThe reporter, composed but visibly excited, looks directly into the camera, microphone in hand.\nReporter (live):\n“Thank you, Sylvia. And yes — this is a sentence I never thought I’d say on live television — but this morning, here in the quiet town of New Castle, Vermont… black gold has been found!”\nHe gestures slightly toward the field behind him.\nReporter (grinning):\n“If my cameraman can pan over, you’ll see what all the excitement’s about.”\nThe camera pans right, slowly revealing a construction site surrounded by workers in hard hats. A beat of silence — then, with a sudden roar, a geyser of oil erupts from the ground, blasting upward in a violent plume.\nWorkers cheer and scramble, the black stream glistening in the morning light. The camera shakes slightly, trying to stay focused through the chaos.\nReporter (off-screen, shouting over the noise):\n“There it is, folks — the moment New Castle will never forget!”\nThe camera catches the sunlight gleaming off the oil mist before pulling back, revealing the entire scene — the small-town skyline silhouetted against the wild fountain of oil.\n\nnarration_snippet:{{ $json.storyboard.narration_snippet }}\nimage_prompt:{{ $json.storyboard.image_prompt }}"
            }
          ]
        },
        "options": {
          "temperature": 0,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        704,
        624
      ],
      "id": "7cb63d3a-ea8b-43ce-a663-d00c38987cb1",
      "name": "Video Prompt Generator",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama - local"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get all incoming items\nconst items = $input.all();\n\n// 2. Clean the data for valid items\nitems.forEach((item) => {\n  if (item.json.output && item.json.output.narration_content) {\n    item.json.output.narration_content = item.json.output.narration_content.replace(/\\r|\\n|\\t/g, '');\n  }\n});\n\n// 3. Return only items that have the 'output' property and NO 'error' property\nreturn items.filter(item => {\n  return item.json.output && !item.json.error;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        16
      ],
      "id": "534c8757-0188-4cd1-87ff-ca35ba534d23",
      "name": "Remove newlines"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: You are an expert Visual Storyboard Artist and AI Image Prompt Engineer.\n\nTask: Analyze the provided narration text and break it into a sequential series of visual \"beats.\" For each beat, generate a detailed image generation prompt that maintains character and stylistic consistency.\n\nMandatory Prompt Requirements:\n\nDemographic Consistency: In every generated image prompt, you must explicitly describe any person, character, or human mentioned as \"Caucasian.\" This is a strict requirement for visual continuity.\n\nCamera Distance: Prioritize \"Wide Shots,\" \"Full Body Shots,\" and \"Long Shots\" in your descriptions. Explicitly instruct the camera to be at a distance from the subjects to capture the environment. Avoid \"Close-ups\" or \"Extreme Close-ups\" unless the narration absolutely requires focus on a micro-detail.\n\nOutput Requirement: Do not include introductory text, explanations, or markdown formatting outside of the JSON block.\n\nStyle Constraint: Realistic Cinematography, high-end film stock, deep depth of field.\n\nNarration Text:\n{{ $json.output.narration_content }}\n\nNarration Title:\n{{ $json.output.narration_title }}",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 100
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1632,
        16
      ],
      "id": "127ccf2c-b853-45b1-be2f-bc8e64aa2a4c",
      "name": "Image Prompt Writer",
      "retryOnFail": true,
      "maxTries": 3,
      "alwaysOutputData": true,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "storyboard",
        "include": "selectedOtherFields",
        "fieldsToInclude": "narration_title, id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        384,
        528
      ],
      "id": "5209147e-76a8-4ed7-ba8e-0114efcd96d5",
      "name": "Split Storyboards"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e7b47bd2-697f-4be1-a4ac-51bd79ab05bf",
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -64,
        528
      ],
      "id": "37884455-c33b-472a-852c-e8b6f4504e84",
      "name": "Filter Out Errors"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"narration_title\":\"The title of the narration.\",\n    \"storyboard\": [\n        {\n            \"beat_id\": 1,\n            \"narration_snippet\": \"Copy the narration snippet used to here.\",\n            \"image_prompt\": \"A full descriptive prompt about the snippet\"\n        },\n        {\n            \"beat_id\": 2,\n            \"narration_snippet\": \"Copy the narration snippet used to here.\",\n            \"image_prompt\": \"A full descriptive prompt about the snippet\"\n        },\n        {\n            \"beat_id\": 3,\n            \"narration_snippet\": \"Copy the narration snippet used to here.\",\n            \"image_prompt\": \"A full descriptive prompt about the snippet\"\n        },\n        {\n            \"beat_id\": 4,\n            \"narration_snippet\": \"Copy the narration snippet used to here.\",\n            \"image_prompt\": \"A full descriptive prompt about the snippet\"\n        },\n        {\n            \"beat_id\": 5,\n            \"narration_snippet\": \"Copy the narration snippet used to here.\",\n            \"image_prompt\": \"A full descriptive prompt about the snippet\"\n        },\n        {\n            \"beat_id\": 6,\n            \"narration_snippet\": \"Copy the narration snippet used to here.\",\n            \"image_prompt\": \"A full descriptive prompt about the snippet\"\n        }\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1776,
        240
      ],
      "id": "f2a13b6c-3da7-45d5-bcf4-21972d74b3ce",
      "name": "Prompt Parser"
    },
    {
      "parameters": {
        "model": "gemma4:e2b",
        "options": {
          "temperature": 0,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1632,
        240
      ],
      "id": "323f92f9-03f0-4e9a-bddb-8c7ded736069",
      "name": "Promt Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama - local"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1136,
        512
      ],
      "id": "f779d6e0-797a-4d8a-b8b3-1bb5f8d68199",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "description": "Call this tool for guidelines when generating a video prompt. ",
        "workflowId": {
          "__rl": true,
          "value": "wLa1tXIM0hYXgCbe",
          "mode": "list",
          "cachedResultUrl": "/workflow/wLa1tXIM0hYXgCbe",
          "cachedResultName": "getLtxVideoPromptGuide"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        928,
        736
      ],
      "id": "956b3ac4-f8b7-4f6b-82a7-b2e1082f8722",
      "name": "getLtxVideoPromptGuide"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Content Analyst specializing in technical report writing. You have access to a Vector Store Tool containing transcripts from multiple related videos. Your objective is to perform a cross-video synthesis to create a single, unified technical manual of specific, actionable tactics.\n\n### Task Instructions:\n1. Retrieval: Query the Vector Store for all relevant content related to {{$('Subject Entry').item.json.Subject}}. Focus specifically on actionable maneuvers, procedures, and techniques.\n2. Synthesis: Identify individual tactics. Do not provide high-level summaries or general concepts. If multiple videos describe the same maneuver, synthesize those details into a single, highly detailed technical paragraph for that specific tactic.\n3. Content Depth: Each tactic must be accompanied by a comprehensive paragraph (4-6 sentences) explaining the \"how\" and \"why,\" merging all technical nuances found across the transcripts.\n\n### Constraints:\n1. If specific data (names, dates, or technical specs) conflicts between transcripts, highlight the discrepancy within the 'tactic_description' field.\n2. Output any Metric measurements or units as converted Imperial Units.\n3. Never mention the source transcripts or videos in the output.\n4. Ensure every entry in 'tactical_analysis' represents a distinct action or procedure rather than a general theme.\n5. Do not output any conversational text, introductions, or markdown formatting outside of the JSON block.\n\nBegin your analysis now.",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        592,
        16
      ],
      "id": "e3b315f3-4f03-44f4-af1e-90ab64ff0ef6",
      "name": "Highlights Extractor Agent",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9900a26e-1db2-47d5-bd47-13d5562f5c34",
              "name": "narration_title",
              "value": "={{ $json.output.narration_title }}",
              "type": "string"
            },
            {
              "id": "564b0070-145a-4130-b53c-9e99a84f3af4",
              "name": "storyboard",
              "value": "={{ $json.output.storyboard }}",
              "type": "array"
            },
            {
              "id": "f801c7f1-03ef-4552-a22c-8ffdc86cff57",
              "name": "id",
              "value": "={{ Math.floor(Math.random() * (Math.floor(1000000) - Math.ceil(100) + 1)) + Math.ceil(100) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        528
      ],
      "id": "c7850dbe-eeb5-4417-be36-53c02f612a9c",
      "name": "Image ID"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QpDLUK288hcZtcz0",
          "mode": "list",
          "cachedResultUrl": "/workflow/QpDLUK288hcZtcz0",
          "cachedResultName": "comfyUiZimageTurboKevin"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "image_prompt": "={{ $json.storyboard.image_prompt.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image_prompt",
              "displayName": "image_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        864,
        384
      ],
      "id": "987e325f-83ef-4379-840d-9971c3e9a506",
      "name": "Call 'comfyUiZimageTurboKevin'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3yqhQJa7EFVuMSty",
          "mode": "list",
          "cachedResultUrl": "/workflow/3yqhQJa7EFVuMSty",
          "cachedResultName": "comfyUiLtxI2vKevin"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "beat": "={{ $json.storyboard.beat_id }}",
            "id": "={{ $json.id }}",
            "video_prompt": "={{ $json.content.toJsonString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_prompt",
              "displayName": "video_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "beat",
              "displayName": "beat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1344,
        512
      ],
      "id": "fa3b779b-1250-465e-b07a-f6a348fcb586",
      "name": "Call 'comfyUiLtxI2vKevin'"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-30T21:48:17.722Z",
      "createdAt": "2026-03-30T21:48:17.722Z",
      "role": "workflow:owner",
      "workflowId": "dqxWedDiUd34vM1E",
      "projectId": "t74UsjIgT3c9HuwP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-21T15:21:23.520Z",
  "versionId": "81284424-fd0c-40ff-817d-7d88c99751b7"
}