workflows/dqxWedDiUd34vM1E.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-03T19:32:09.000Z",
    "createdAt": "2026-04-03T19:21:37.307Z",
    "versionId": "8dc9a791-a3c1-4cf0-be66-d85671eaddc4",
    "workflowId": "dqxWedDiUd34vM1E",
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "https://www.youtube-transcript.io/api/transcripts",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Basic {{ $json.value }}"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"ids\": [{{ $('extractFormIDs').item.json.ids.map(item => `\"${item}\"`) }}]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          448,
          240
        ],
        "id": "f9fcea3f-648d-4ed0-8153-978774900433",
        "name": "Get Transcripts"
      },
      {
        "parameters": {
          "jsCode": "const trackToText = (track) => {\n  return track.transcript.map(t => t.text.replace(/[\\r\\n]/gm, '')).join(' ');\n}\nreturn $input.all().reduce((acc, cur) => ({...acc, [cur.json.id]: trackToText(cur.json.tracks[0])}), {})"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          240
        ],
        "id": "36406bfc-60da-4d43-a0c2-bc6e745a4a3d",
        "name": "Convert Response"
      },
      {
        "parameters": {
          "formTitle": "YouTube Video ID",
          "formDescription": "Please enter a list of YouTube Video IDs separated by commas and no spaces (e.g.  fds9dj3d,564d2s4,85gde343)",
          "formFields": {
            "values": [
              {
                "fieldLabel": "IDs",
                "fieldType": "textarea"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "position": [
          -224,
          240
        ],
        "id": "5b24dfe4-0aa8-4b91-9c69-2aed06e3bcc8",
        "name": "On form submission",
        "webhookId": "a07f6f76-1188-4af3-98e3-7fbfcf1349b5"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "variables",
            "mode": "list",
            "cachedResultName": "variables"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          224,
          240
        ],
        "id": "d2559d5e-4f39-4e0d-9eec-77a2f98cc71c",
        "name": "Global Variables",
        "credentials": {
          "postgres": {
            "id": "ONc4BCiTp5vVkE3z",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return {\n  // add a maximum of 50 ids here\n  ids: $input.first().json.IDs.split(',')\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          240
        ],
        "id": "e8d0f076-d238-41ad-82f8-48ad00bc7be5",
        "name": "extractFormIDs"
      }
    ],
    "connections": {
      "Get Transcripts": {
        "main": [
          [
            {
              "node": "Convert Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert Response": {
        "main": [
          []
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "extractFormIDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Global Variables": {
        "main": [
          [
            {
              "node": "Get Transcripts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "extractFormIDs": {
        "main": [
          [
            {
              "node": "Global Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Jim Campbell",
    "name": "Version 20260403",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "8dc9a791-a3c1-4cf0-be66-d85671eaddc4",
  "connections": {
    "getYouTubeTranscripts": {
      "main": [
        [
          {
            "node": "Transcript Vector Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcripts Loader": {
      "ai_document": [
        [
          {
            "node": "Transcript Vector Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector Model": {
      "ai_embedding": [
        [
          {
            "node": "Transcript Vector Insert",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Transcript Vector Retrieval",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Highlights Extractor Model": {
      "ai_languageModel": [
        [
          {
            "node": "Highlights Extractor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Subject Entry": {
      "main": [
        [
          {
            "node": "Video IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video IDs": {
      "main": [
        [
          {
            "node": "getYouTubeTranscripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Highlights Reranker": {
      "ai_reranker": [
        [
          {
            "node": "Transcript Vector Retrieval",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Vector Insert": {
      "main": [
        [
          {
            "node": "Highlights Extractor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Vector Retrieval": {
      "ai_tool": [
        [
          {
            "node": "Highlights Extractor Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Highlights Extractor Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Writer Model": {
      "ai_languageModel": [
        [
          {
            "node": "Script Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Script Writer Agent": {
      "main": [
        []
      ]
    },
    "Script Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Script Writer Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Video Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Video Prompt Generator",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitize Strings": {
      "main": [
        []
      ]
    },
    "Tactics Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Highlights Extractor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter Fields": {
      "main": [
        [
          {
            "node": "Script Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Prompt Generator": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-03-30T21:48:17.717Z",
  "id": "dqxWedDiUd34vM1E",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "runYouTubeLongTranscriptsToShortFormVids",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Iomfw2VwfB3wmYCf",
          "mode": "list",
          "cachedResultUrl": "/workflow/Iomfw2VwfB3wmYCf",
          "cachedResultName": "getYouTubeTranscripts"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "IDs": "={{ $json.IDs }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "IDs",
              "displayName": "IDs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -32,
        240
      ],
      "name": "getYouTubeTranscripts",
      "id": "cf63bd88-7c80-4250-a4e2-c02630e5d79f"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        336,
        464
      ],
      "id": "7e92325f-6d23-488a-b1dc-54bfa27f6d89",
      "name": "Transcripts Loader"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE \"n8n_vectors_transcripts\";\nTRUNCATE TABLE \"n8n_script_writer_chat_histories\";\nTRUNCATE TABLE \"n8n_video_prompt_chat_histories\";",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2656,
        240
      ],
      "id": "faa80163-528e-4614-9e0c-1ac5d42ce183",
      "name": "Truncate Ai Agent Tables",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding:4b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        192,
        624
      ],
      "id": "53fd5a4a-f978-44b0-80c6-5a1306e37bc2",
      "name": "Vector Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {
          "temperature": 0,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        544,
        464
      ],
      "id": "177dfb87-d217-4ecc-8247-d0408bb592ca",
      "name": "Highlights Extractor Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Content Analyst specializing in technical report writing. You have access to a Vector Store Tool containing transcripts from multiple related videos. Your objective is to perform a cross-video synthesis to create a single, unified technical manual of specific, actionable tactics.\n\n### Task Instructions:\n1. Retrieval: Query the Vector Store for all relevant content related to {{$('Subject Entry').item.json.Subject}}. Focus specifically on actionable maneuvers, procedures, and techniques.\n2. Synthesis: Identify individual tactics. Do not provide high-level summaries or general concepts. If multiple videos describe the same maneuver, synthesize those details into a single, highly detailed technical paragraph for that specific tactic.\n3. Content Depth: Each tactic must be accompanied by a comprehensive paragraph (4-6 sentences) explaining the \"how\" and \"why,\" merging all technical nuances found across the transcripts.\n\n### Constraints:\n1. If specific data (names, dates, or technical specs) conflicts between transcripts, highlight the discrepancy within the 'tactic_description' field.\n2. Output any Metric measurements or units as converted Imperial Units.\n3. Never mention the source transcripts or videos in the output.\n4. Ensure every entry in 'tactical_analysis' represents a distinct action or procedure rather than a general theme.\n5. Do not output any conversational text, introductions, or markdown formatting outside of the JSON block.\n\nBegin your analysis now.",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        240
      ],
      "id": "e3b315f3-4f03-44f4-af1e-90ab64ff0ef6",
      "name": "Highlights Extractor Agent",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "formTitle": "Subject Entry",
        "formDescription": "Input the general subject of the transcripts.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Subject"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -480,
        240
      ],
      "id": "a5db8bd1-2df4-4956-8e52-dabfe540e00f",
      "name": "Subject Entry",
      "webhookId": "e5530067-88c6-4453-9393-ca38adecedbd"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "IDs",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        -256,
        240
      ],
      "id": "8b367649-9309-41b3-9daf-6baaf1a6c5ec",
      "name": "Video IDs",
      "webhookId": "80c3c6a8-cf6f-413c-8eb1-7fb16c14da24"
    },
    {
      "parameters": {
        "topN": 10
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        720,
        672
      ],
      "id": "9b37f4ff-86f1-4d03-b641-b1a20e2bb0f9",
      "name": "Highlights Reranker",
      "credentials": {
        "cohereApi": {
          "id": "ur0ba6VbGRm2LwOG",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_transcripts",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        192,
        240
      ],
      "id": "92de81cc-9a81-486d-a2b4-e2cb469e1d0b",
      "name": "Transcript Vector Insert",
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Youtube_Transcipts. Use this tool to extract highlights and main points of transcripts.",
        "tableName": "n8n_vectors_transcripts",
        "topK": 100,
        "includeDocumentMetadata": false,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        672,
        528
      ],
      "id": "d30d53b4-3dd5-46b2-a68b-e933de117ec1",
      "name": "Transcript Vector Retrieval",
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Professional Scriptwriter specializing in tactical training. Your goal is to transform the provided JSON data into a high-engagement edutainment video script.\n\n### CRITICAL RULE:\nYour entire response must be a single, valid JSON object. Do not include a \"Thinking Process,\" \"Analysis,\" or \"Intro.\" Do not include markdown formatting (like ```json) outside the JSON block. Start with { and end with }.\n\n### Input:\nGeneral Subject Matter:{{ $json['output.report_metadata.topic'] }}\nTactic Name:{{ $json['output.tactics'].tactic_name }}\nTactic Description:{{ $json['output.tactics'].tactic_description }}\n\n### Task:\nTransform the input JSON into a video script (150-300 words).\n\n### Narrative & Voice Constraints:\n1. **Strict Second Person:** Use \"You\" and \"Your.\" Never use \"I,\" \"We,\" or \"Us.\"\n2. **Hook Variety (CRITICAL):** Do not start script with the same phrase. You must rotate through different opening styles for every entry:\n   - **The \"In Media Res\" Start:** Jump straight into the action (e.g., \"Hit the deck immediately.\")\n   - **The \"Scenario\" Start:** Set a specific scene (e.g., \"The sound of a high-pitched buzz overhead means you have seconds to react.\")\n   - **The \"Consequence\" Start:** Start with what happens if they fail (e.g., \"Staying stationary in an open field is a death sentence.\")\n   - **The \"Question\" Start:** Pose a tactical problem (e.g., \"How do you disappear when there is nowhere to hide?\")\n3. **Sentence Flow:** Vary your sentence starters. Avoid starting multiple consecutive sentences with \"You will\" or \"Position yourself.\" Use transition phrases like \"By doing this,\" \"Instead of,\" \"Once you've secured,\" or \"Your next move is.\"\n\n### Script Structure:\n- **Hook:** A unique, high-stakes opening.\n- **The Procedure:** Detailed, technical \"how-to\" instructions.\n- **The Why:** The tactical reasoning behind the move.\n- **Closing:** A sharp, punchy command.\n\n### Unit Constraint:\nConvert all Metric units to Imperial (e.g., feet, miles, mph).\n\n### CRITICAL CONSTRAINTS:\n1. NO PREAMBLE: Do not say \"Here is the script\" or \"I have updated the output.\"\n2. NO THINKING: Do not include any <thinking> blocks or \"Analysis\" sections.\n3. OUTPUT FORMAT: Your response must START with '{' and END with '}'. Anything outside of those characters is a critical failure.\n4. NO MARKDOWN: Do not use triple backticks (```json) to wrap the output.\n\n### OUTPUT FORMAT:\n{\n  \"title\": \"The Tactic Name\",\n  \"topic\": \"The overall topic\",\n  \"estimated_runtime\": \"1:30\",\n  \"word_count\": 0,\n  \"script_content\": \"The full instructional script goes here...\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1680,
        240
      ],
      "id": "9917590c-8d96-45eb-977f-92347d11f0b1",
      "name": "Script Writer Agent",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {
          "temperature": 0,
          "format": "json"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1616,
        464
      ],
      "id": "22cd9978-0c0f-4aa8-9ad6-b18e33748bee",
      "name": "Script Writer Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "tableName": "n8n_script_writer_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1744,
        464
      ],
      "id": "a4a09a40-04c4-4a6a-a38d-b509b4172698",
      "name": "Script Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Video Prompt Engineer. Your task is to transform a tactical narration script into a JSON object of visual prompts.\n\n### CRITICAL OUTPUT RULE:\nYour entire response must be ONLY the JSON object. Do not include a \"Thinking Process\" section. Do not include any \"Analysis\" or \"Introduction.\" Do not include any text before or after the JSON. If you include any conversational text or thinking blocks, the output will fail. Start your response with { and end it with }.\n\n### Task Instructions:\n1. **VO Integration:** Break the script into three segments: Hook, Execution, and Outro. \n2. **Apply Directorial Logic:**\n   - **IF movement (zigzag, running):** Use \"Dynamic Tracking Shots,\" \"Low-angle gimbal-stabilized follow shots,\" or \"Side-profile panning.\"\n   - **IF concealment (cover, hiding):** Use \"Bird's-eye view\" or \"Top-down drone perspective\" OR \"Canted low-angle shot looking up.\"\n   - **IF engagement (aiming, shooting):** Use \"Over-the-shoulder POV\" or \"Tight macro shots.\"\n   - **IF weather/lighting (rain, fog, night):** Describe \"Volumetric fog,\" \"Heavy rain particles,\" or \"High-contrast moonlight.\"\n\n### JSON Schema:\n{\n  \"tactic_title\": \"String\",\n  \"cinematic_profile\": {\n    \"camera_system\": \"Lens and movement based on logic\",\n    \"lighting_environment\": \"Atmosphere based on context\",\n    \"audio_note\": \"VO pacing instruction\"\n  },\n  \"visual_prompts\": [\n    {\n      \"segment\": \"Hook\",\n      \"associated_narration_text\": \"Insert script snippet here\",\n      \"video_generation_prompt\": \"Detailed natural language visual description\"\n    },\n    {\n      \"segment\": \"Execution\",\n      \"associated_narration_text\": \"Insert script snippet here\",\n      \"video_generation_prompt\": \"Detailed natural language visual description\"\n    },\n    {\n      \"segment\": \"Outro\",\n      \"associated_narration_text\": \"Insert script snippet here\",\n      \"video_generation_prompt\": \"Detailed natural language visual description\"\n    }\n  ]\n}\n\n### Constraints:\n- Use objective, natural language for visual prompts.\n- NO FIRST PERSON (\"You see\"). Use: \"A tactical operator is visible...\"\n- Focus on high-fidelity textures: \"Ripstop fabric,\" \"Matte-black metal,\" \"Gritty textures.\"\n\nBegin processing the following script:\n{{ $json.script_content }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2304,
        240
      ],
      "id": "abdaefaf-d8ee-4f52-b204-f641a601fe00",
      "name": "Video Prompt Generator",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "model": "gemma4:e4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        2320,
        464
      ],
      "id": "d3ab19c3-810c-4b53-b93e-fd141cd70ec5",
      "name": "Prompt Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filter Fields').item.json.sessionId.sessionId }}",
        "tableName": "n8n_video_prompt_chat_histories",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2448,
        464
      ],
      "id": "986f9995-eff8-4918-8e35-2308fa17a978",
      "name": "Prompt Chat Memory",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.tactics",
        "include": "selectedOtherFields",
        "fieldsToInclude": "output.report_metadata.topic",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1168,
        240
      ],
      "id": "47015270-e149-4305-ae1f-ae68991e9c67",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const scripts = $(\"Script Writer Agent\").first().json.output.scripts\nscripts.forEach((item) => {\n item.script_content = item.script_content.replace(/\\r|\\n|\\t/g, '');\n});\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        240
      ],
      "id": "534c8757-0188-4cd1-87ff-ca35ba534d23",
      "name": "Sanitize Strings"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"report_metadata\": { \"topic\": \"\", \"tactics_count\": 0 },\n  \"tactics\": [\n    {\n      \"tactic_name\": \"Name of the specific maneuver or procedure\",\n      \"tactic_description\": \"A detailed, technical paragraph synthesizing all relevant data points from the transcripts into a cohesive explanation.\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        960,
        464
      ],
      "id": "2d232bb6-100d-482c-b5e3-a922d73aa396",
      "name": "Tactics Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf11aba1-fa0a-4112-b535-811cf284110a",
              "name": "sessionId",
              "value": "={{ JSON.stringify({ \"sessionId\": $now }) }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1392,
        240
      ],
      "id": "33ed8cdb-9f2d-45d3-a251-7892a165d888",
      "name": "Filter Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-30T21:48:17.722Z",
      "createdAt": "2026-03-30T21:48:17.722Z",
      "role": "workflow:owner",
      "workflowId": "dqxWedDiUd34vM1E",
      "projectId": "t74UsjIgT3c9HuwP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-10T22:24:44.358Z",
  "versionId": "a02a5b32-118c-4b69-87e3-9a8d6c397ce2"
}