workflows/FznSRAVhsMTPFs2u.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Data Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Source": {
      "main": [
        [
          {
            "node": "Get Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcripts": {
      "main": [
        [
          {
            "node": "Convert Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Response": {
      "main": [
        [
          {
            "node": "Download as CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-29T16:07:35.137Z",
  "id": "FznSRAVhsMTPFs2u",
  "isArchived": false,
  "meta": null,
  "name": "multiple-ids",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "7188f5a7-9d18-4cb8-8c33-f137b59403cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return {\n  // add a maximum of 50 ids here\n  ids: [\"J6aFcT2VcNY\"]\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        240
      ],
      "id": "ae3b3ad3-436b-4a4a-b235-cb41c1f3bfd5",
      "name": "Data Source"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.youtube-transcript.io/api/transcripts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic 69c950850e3c015877b2c2df"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": [{{ $json.ids.map(item => `\"${item}\"`) }}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        240
      ],
      "id": "001bbccc-23be-4141-b98e-64b954a9927b",
      "name": "Get Transcripts"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        896,
        240
      ],
      "id": "e039b688-c94c-4a7f-99f3-a374a47cb95f",
      "name": "Download as CSV"
    },
    {
      "parameters": {
        "content": "## How to use\n1. Create a variable named **API_KEY** with your API token as value. You can set variables [here](/variables).\n2. add your list of video ids in the **Data Source** node, or replace this node with your own source.",
        "height": 176,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "1877ba4a-8c5c-4388-9eac-bd39d12bc0fe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const trackToText = (track) => {\n  return track.transcript.map(t => t.text).join(' ');\n}\nreturn $input.all().reduce((acc, cur) => ({...acc, [cur.json.id]: trackToText(cur.json.tracks[0])}), {})"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        240
      ],
      "id": "a2435da6-092b-4b47-86e1-cc32890dc9e8",
      "name": "Convert Response"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-29T16:07:35.137Z",
      "createdAt": "2026-03-29T16:07:35.137Z",
      "role": "workflow:owner",
      "workflowId": "FznSRAVhsMTPFs2u",
      "projectId": "9zdj01WOZxeIxACP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-29T16:17:32.907Z",
  "versionId": "bc28e1fc-a29e-45a8-8924-5e909408e41a"
}