workflows/jSkVP62ggEVVGrdS.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Android Authority": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Android Police": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Droid Life": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Android Headlines": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Android Central": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Filter by Keyword and Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnClick": {
      "main": [
        [
          {
            "node": "getStoredGuids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getStoredGuids": {
      "main": [
        [
          {
            "node": "Combine guids Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine guids Array": {
      "main": [
        [
          {
            "node": "Android Police",
            "type": "main",
            "index": 0
          },
          {
            "node": "Android Authority",
            "type": "main",
            "index": 0
          },
          {
            "node": "Android Headlines",
            "type": "main",
            "index": 0
          },
          {
            "node": "Droid Life",
            "type": "main",
            "index": 0
          },
          {
            "node": "Android Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UserInfo": {
      "main": [
        [
          {
            "node": "Register Upload Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Post": {
      "main": [
        [
          {
            "node": "Save article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Builder Agent": {
      "main": [
        [
          {
            "node": "Image Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9am hour": {
      "main": [
        [
          {
            "node": "getStoredGuids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Required Fields": {
      "main": [
        [
          {
            "node": "Get Snippets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Keyword and Image": {
      "main": [
        [
          {
            "node": "Check for Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Snippets": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Article Vectors Retriever",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Article Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Selector Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article Vectors Retriever": {
      "ai_tool": [
        [
          {
            "node": "Selector Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Selector Model": {
      "ai_languageModel": [
        [
          {
            "node": "Selector Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Selector Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Selector Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Selector Agent": {
      "main": [
        [
          {
            "node": "getMatchingArticle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save article": {
      "main": [
        [
          {
            "node": "Truncate Ai Agent Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Article Vectors Retriever",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Content Builder Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Selector Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Builder Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Builder Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "getMatchingArticle": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Image Prompt Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Builder Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Content Builder Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Generation Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Generator": {
      "main": [
        [
          {
            "node": "ComfyUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ComfyUI": {
      "main": [
        [
          {
            "node": "Get UserInfo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Upload Request": {
      "main": [
        [
          {
            "node": "Upload Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Media": {
      "main": [
        [
          {
            "node": "Submit Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-05T17:58:16.009Z",
  "id": "jSkVP62ggEVVGrdS",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "runAndroidRssPostWithImage",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.androidauthority.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ],
      "id": "360fa130-d2ac-4fb5-a75c-721fc42b981d",
      "name": "Android Authority",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.androidpolice.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        384
      ],
      "id": "e612d7a5-cbfd-454d-bc7d-6ac171248c33",
      "name": "Android Police",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.droid-life.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        576
      ],
      "id": "26a5de21-7511-4d04-bdf6-0c74aeddf03a",
      "name": "Droid Life",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.androidheadlines.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "47deae49-4951-4eeb-aae7-7dab26658266",
      "name": "Android Headlines",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.androidcentral.com/feeds.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        768
      ],
      "id": "a0ed8d57-8988-454d-91aa-42fadf0aa096",
      "name": "Android Central",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        336
      ],
      "id": "45dc0f73-b2cf-49c9-aab6-72a357bcb490",
      "name": "Merge",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "826d99f2-56e1-4123-b89d-14b154f926d3",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "70120e67-63b4-4aa7-9a66-53ae840f4350",
              "name": "contentSnippet",
              "value": "={{ $json[\"content:encodedSnippet\"].replace(/\\r|\\n|\\t/g, '').replace(/Credit:.*?TL;DR/gs, \"\") }}",
              "type": "string"
            },
            {
              "id": "4344dbcf-7b9b-48da-af1e-b0ebe7c9755e",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "fe56dc6f-c90c-4602-b364-56c7a50b8964",
              "name": "guid",
              "value": "={{ $json.guid }}",
              "type": "string"
            },
            {
              "id": "52abd3e6-903d-4cc2-8615-cc0fe509c46f",
              "name": "=img",
              "value": "={{ $json[\"content:encoded\"]?.urlDecode().extractUrl().replace('\\\"',\"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        0
      ],
      "id": "1758657e-8eb4-4d25-9233-4f8fb284b228",
      "name": "Set Fields",
      "notesInFlow": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        480
      ],
      "id": "eaa0fc15-94cb-4be1-be40-bcf0eee65e7d",
      "name": "OnClick"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \"guid\" FROM \"androidrss\"",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        384
      ],
      "id": "30ad471b-3cfc-4d2e-bf54-e5da190871b6",
      "name": "getStoredGuids",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "guid",
              "renameField": true,
              "outputFieldName": "guids"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -224,
        384
      ],
      "id": "b88dba3e-25e2-4700-bdf1-a3bcf9213646",
      "name": "Combine guids Array"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "androidrss",
          "mode": "list",
          "cachedResultName": "androidrss"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "guid": "={{ $('getMatchingArticle').item.json.guid }}",
            "url": "={{ $('getMatchingArticle').item.json.url }}",
            "title": "={{ $('getMatchingArticle').item.json.title }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "guid",
              "displayName": "guid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2224,
        400
      ],
      "id": "0cfeffdc-fdbb-4e69-bc8f-10fe47ef4639",
      "name": "Save article",
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1376,
        720
      ],
      "id": "779f7083-79b9-4149-9c64-a3d5373862a5",
      "name": "Get UserInfo",
      "credentials": {
        "httpHeaderAuth": {
          "id": "z04N7hCzKnMtAJIB",
          "name": "LinkedIn OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $('Get UserInfo').item.json.sub }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $('getMatchingArticle').item.json.title }}\\n\\n{{ $('Content Builder Agent').item.json.output.commentary }}\\n\\n{{ $('getMatchingArticle').item.json.url }}\\n\\n{{ $('Content Builder Agent').item.json.output.hashtags }}\"\n      },\n      \"shareMediaCategory\": \"IMAGE\",\n      \"media\": [\n        {\n          \"status\": \"READY\",\n          \"description\": {\n            \"text\": \"{{ $('getMatchingArticle').item.json.contentSnippet }}\"\n          },\n          \"title\": {\n            \"text\": \"{{ $('getMatchingArticle').item.json.title }}\"\n          },\n          \"media\":\"{{ $('Register Upload Request').item.json.value.asset }}\"\n        }\n      ]\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        720
      ],
      "id": "11e47fff-ccf3-42e4-8692-41fc8dcb93fe",
      "name": "Submit Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "z04N7hCzKnMtAJIB",
          "name": "LinkedIn OAuth"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: Act as a Senior Tech Writer with a sharp, engaging, and conversational writing style.\n\nTask: Review the provided article title and snippet. Then, write a short, personalized commentary (2–4 sentences) ending in an additional sentence in the first person (\"I\"). Also, provide a list of 3–5 relevant, trending hashtags. The first hashtag is to always be \"#Android\".\n\nPunctuation & Syntax (CRITICAL):\n\nZERO TOLERANCE for dashes or hyphens. Do not use em dashes (—), en dashes (–), or hyphens (-).\n\nNo compound words. Instead of \"wake-up call,\" use \"wakeup call\" or \"call to action.\" Instead of \"high-speed,\" use \"fast.\"\n\nStructure: If you feel the urge to use a dash to connect two thoughts, use a period and start a new sentence instead. \nVoice Guidelines:\n\nBe Authentic: No \"In today's world\" nor \"This article explains\".  Do not start with first person voice.\n\nTone: Provocative but optimistic.\n\nOutput:\nA json object with two required properties, a string (commentary) and an array of strings (hastags).\n\nInputs:\n\nArticle Headline: {{ $json.title }}\nArticle Snippet: {{ $json.contentSnippet }}",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 60
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1584,
        64
      ],
      "id": "1ded3b57-4bad-4cfb-8abd-f018175c68db",
      "name": "Content Builder Agent",
      "retryOnFail": true,
      "waitBetweenTries": 1000,
      "executeOnce": true,
      "alwaysOutputData": false,
      "maxTries": 5
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": "={{ Math.floor(Math.random() * (Math.floor(59) - Math.ceil(1) + 1)) + Math.ceil(1) }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        288
      ],
      "id": "044353af-4776-4a5e-a64b-19bf75869c7e",
      "name": "9am hour"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "803a41cd-8fc5-4ee1-9dad-332349359602",
              "leftValue": "={{ $json.title }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b7494cd2-42a4-411a-8664-3e3684c44d82",
              "leftValue": "={{ $('Combine guids Array').item.json.guids }}",
              "rightValue": "={{ $json.guid }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "1b2ff2e4-da46-4123-8588-b1cd858c02ca",
              "leftValue": "={{ $json.img }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        880,
        0
      ],
      "id": "8e7f2b0f-cd6b-4468-bd17-e371dc880c77",
      "name": "Check for Required Fields"
    },
    {
      "parameters": {
        "jsCode": "const imageRegex = /\\.(jpg|jpeg|png|webp)$/i;\nconst keywordRegex = /Android|Galaxy/i;\n\nfor (const item of $input.all()) {\n  if(!imageRegex.test(item.json.img)){\n   item.json.img = \"\" \n  }\n  if(!keywordRegex.test(item.json.title)){\n    item.json.title = \"\"\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "66c5b13c-973c-43bc-81fa-52500f26bdfd",
      "name": "Filter by Keyword and Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db2da957-b5ce-4595-a17e-853ddc9db69f",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "4089df73-e686-4080-9e6d-5be598d3badf",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        0
      ],
      "id": "cd2d5986-9c7e-4aa6-9d22-117deb83c400",
      "name": "Get Snippets"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "articles",
        "include": "specifiedFields",
        "fieldsToInclude": "contentSnippet",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1328,
        0
      ],
      "id": "b00546b8-f685-407a-9441-4af17ca1a820",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE \"n8n_vectors_androidrss\";\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2400,
        400
      ],
      "id": "98b655c1-2fc5-48ec-a6db-f466f1ecd1f4",
      "name": "Truncate Ai Agent Tables",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_androidrss",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        464,
        224
      ],
      "id": "29e81ab1-b0ce-4539-81eb-cc55e995e408",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-embedding:4b"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        464,
        704
      ],
      "id": "efadaf38-c2cd-4b1a-83d8-506f70256ef8",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Aggregate').item.json.articles }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        384
      ],
      "id": "d005e3e7-249e-48d4-88ef-8cb35957904c",
      "name": "Article Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=News_Articles. Use this tool to select a news article.",
        "tableName": "n8n_vectors_androidrss",
        "topK": 30,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        832,
        608
      ],
      "id": "e84f1c3a-9666-4341-8359-6cb37abbb6d5",
      "name": "Article Vectors Retriever",
      "credentials": {
        "postgres": {
          "id": "ONc4BCiTp5vVkE3z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Expert News Editor. You are provided a Vector Store Tool which contains a list of articles. Your task is to select the single most 'interesting' article based on three metrics: Novelty (how unique it is), Impact (potential for market disruption), and Controversy (how much it challenges existing norms). You are to respond to the user with only the content of the article that you selected as most 'interesting'.\n\nSelection Criteria:\n\nControversy: High levels of conflicting viewpoints or provocative statements.\nImpact: Significant social, political, or economic implications.\nNovelty: Unusual developments that deviate from standard news cycles.\n\nWhich one is the single most 'interesting' news article in your Vector Store?\n\n",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 60
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        224
      ],
      "id": "02f45bc0-7098-4732-ad7c-9e4c372b096c",
      "name": "Selector Agent",
      "executeOnce": true,
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        816,
        464
      ],
      "id": "371f9839-553c-4b62-91d9-3db32f62d1fa",
      "name": "Selector Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"contentSnippet\": \"This is an example content snippet from the article selected as most interesting.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        992,
        464
      ],
      "id": "e780a97b-a6b1-489d-a78d-8a11459a595b",
      "name": "Selector Output Parser"
    },
    {
      "parameters": {
        "topN": 1
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        880,
        768
      ],
      "id": "7099ea96-a4ff-49ee-b3dc-aed2d7005ac3",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "ur0ba6VbGRm2LwOG",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8560af86-b971-4fd6-9171-4235ac2432a5",
              "leftValue": "={{ $json.contentSnippet }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2abc98eb-7d60-47e9-a8b5-ebdcbb8d0ed1",
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "6f047c64-8d69-4e21-a57f-d497707099fe",
              "leftValue": "={{ $json.guid }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1296,
        224
      ],
      "id": "e2f33ca2-e083-4cd8-a092-0edfd980904a",
      "name": "If"
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1584,
        304
      ],
      "id": "3aa7236d-259b-4c54-b916-5c7b0853041e",
      "name": "Builder Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const targetMatch = $input.first().json.output.contentSnippet;\nconst searchItems = $('Check for Required Fields').all();\nconst regX = /(?<=[.!?])\\s/;\n\nreturn searchItems.filter(item => {\n  const text = item.json.contentSnippet || \"\";\n  // Extract first sentence: split by punctuation followed by space\n  const firstSentence = text.split(regX)[0].trim();\n  return targetMatch.includes(firstSentence);\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        224
      ],
      "id": "4c5624b0-a4e0-4d09-b801-5fccb50f8c74",
      "name": "getMatchingArticle",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are an expert Editorial Photo Director and AI Art Prompt Engineer. Your task is to transform a news article into a highly detailed, professional image generation prompt (for Midjourney, DALL-E 3, or Stable Diffusion).\n\n# INPUT DATA\n<news_article>\n{{ $('getMatchingArticle').item.json.contentSnippet }}\n</news_article>\n\n# INSTRUCTIONS\nFollow these steps to generate the final image prompt:\n\n1. **Core Analysis**: Identify the central \"hero\" of the story (a person, a technology, a landscape, or a symbolic concept).\n2. **Atmosphere Extraction**: Determine the emotional tone of the article (e.g., somber, futuristic, chaotic, hopeful, clinical).\n3. **Visual Metaphor**: If the article is abstract (like \"inflation\" or \"policy\"), brainstorm a concrete visual metaphor.\n4. **Technical Specifications**: Assign professional photography or art styles (e.g., 35mm film, cinematic lighting, isometric 3D, or editorial illustration).\n\n# CONSTRAINTS\n- Avoid \"floating heads\" or generic AI-looking collages.\n- Do not use \"buzzwords\" like \"photorealistic\" or \"4k.\" Instead, describe lighting, textures, and camera lenses.\n- Focus on a single, high-impact composition rather than trying to depict every detail of the article.\n\n# OUTPUT\nThe full, descriptive prompt.",
        "hasOutputParser": true,
        "options": {
          "maxIterations": 60
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1936,
        64
      ],
      "id": "9686a825-da65-4a3c-87c7-b9bf4eacd337",
      "name": "Image Prompt Generator",
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_generation_prompt\": \"Your high-impact visual description goes here, incorporating the news article's core subject, specific lighting conditions, camera angles, and professional artistic styles.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2080,
        304
      ],
      "id": "fa0ab4aa-13e5-4f0b-b043-d98216e66ae0",
      "name": "Prompt Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"commentary\": \"This is the generated and personalized content exmample.\",\n\t\"hashtags\": [\"#Android\", \"#AndroidEngineer\", \"#Mobile\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1728,
        304
      ],
      "id": "70356417-3526-423a-a758-433b121fd28e",
      "name": "Builder Output Parser"
    },
    {
      "parameters": {
        "model": "qwen3.5:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1936,
        304
      ],
      "id": "c83846f4-1d91-4dd6-8025-5d8044679456",
      "name": "Prompt Generation Model",
      "credentials": {
        "ollamaApi": {
          "id": "jyKY7vCSm6TQQSr0",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "workflow": "={\n  \"9\": {\n    \"inputs\": {\n      \"filename_prefix\": \"z-image\",\n      \"images\": [\n        \"76:65\",\n        0\n      ]\n    },\n    \"class_type\": \"SaveImage\",\n    \"_meta\": {\n      \"title\": \"Save Image\"\n    }\n  },\n  \"76:68\": {\n    \"inputs\": {\n      \"width\": 512,\n      \"height\": 512,\n      \"batch_size\": 1\n    },\n    \"class_type\": \"EmptySD3LatentImage\",\n    \"_meta\": {\n      \"title\": \"EmptySD3LatentImage\"\n    }\n  },\n  \"76:63\": {\n    \"inputs\": {\n      \"vae_name\": \"ae.safetensors\"\n    },\n    \"class_type\": \"VAELoader\",\n    \"_meta\": {\n      \"title\": \"Load VAE\"\n    }\n  },\n  \"76:62\": {\n    \"inputs\": {\n      \"clip_name\": \"qwen_3_4b.safetensors\",\n      \"type\": \"lumina2\",\n      \"device\": \"default\"\n    },\n    \"class_type\": \"CLIPLoader\",\n    \"_meta\": {\n      \"title\": \"Load CLIP\"\n    }\n  },\n  \"76:65\": {\n    \"inputs\": {\n      \"samples\": [\n        \"76:69\",\n        0\n      ],\n      \"vae\": [\n        \"76:63\",\n        0\n      ]\n    },\n    \"class_type\": \"VAEDecode\",\n    \"_meta\": {\n      \"title\": \"VAE Decode\"\n    }\n  },\n  \"76:70\": {\n    \"inputs\": {\n      \"shift\": 3,\n      \"model\": [\n        \"76:66\",\n        0\n      ]\n    },\n    \"class_type\": \"ModelSamplingAuraFlow\",\n    \"_meta\": {\n      \"title\": \"ModelSamplingAuraFlow\"\n    }\n  },\n  \"76:66\": {\n    \"inputs\": {\n      \"unet_name\": \"z_image_bf16.safetensors\",\n      \"weight_dtype\": \"default\"\n    },\n    \"class_type\": \"UNETLoader\",\n    \"_meta\": {\n      \"title\": \"Load Diffusion Model\"\n    }\n  },\n  \"76:71\": {\n    \"inputs\": {\n      \"text\": \"\",\n      \"clip\": [\n        \"76:62\",\n        0\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP Text Encode (Negative Prompt)\"\n    }\n  },\n  \"76:69\": {\n    \"inputs\": {\n      \"seed\": {{Math.ceil(Math.random() * 100000000000)}},\n      \"steps\": 20,\n      \"cfg\": 2,\n      \"sampler_name\": \"res_multistep\",\n      \"scheduler\": \"simple\",\n      \"denoise\": 1,\n      \"model\": [\n        \"76:70\",\n        0\n      ],\n      \"positive\": [\n        \"76:67\",\n        0\n      ],\n      \"negative\": [\n        \"76:71\",\n        0\n      ],\n      \"latent_image\": [\n        \"76:68\",\n        0\n      ]\n    },\n    \"class_type\": \"KSampler\",\n    \"_meta\": {\n      \"title\": \"KSampler\"\n    }\n  },\n  \"76:67\": {\n    \"inputs\": {\n      \"text\": \"{{ $json.output.image_generation_prompt }}\",\n      \"clip\": [\n        \"76:62\",\n        0\n      ]\n    },\n    \"class_type\": \"CLIPTextEncode\",\n    \"_meta\": {\n      \"title\": \"CLIP Text Encode (Positive Prompt)\"\n    }\n  }\n}",
        "jpegQuality": 90,
        "timeout": 90
      },
      "type": "n8n-nodes-comfyui.comfyui",
      "typeVersion": 1,
      "position": [
        1536,
        480
      ],
      "id": "e3aef3ac-c2ce-4126-ac5d-34567f4c725f",
      "name": "ComfyUI",
      "credentials": {
        "comfyUIApi": {
          "id": "03shGwFYK9rTfVc1",
          "name": "ComfyUI account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"registerUploadRequest\":{\n    \"recipes\":[\n      \"urn:li:digitalmediaRecipe:feedshare-image\"\n    ],\n    \"owner\":\"urn:li:person:{{ $json.sub }}\",\n    \"serviceRelationships\":[\n      {\n        \"relationshipType\":\"OWNER\",\n        \"identifier\":\"urn:li:userGeneratedContent\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        720
      ],
      "id": "050bc9e1-8605-4b78-8a0b-1cb73e3cd1fd",
      "name": "Register Upload Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "z04N7hCzKnMtAJIB",
          "name": "LinkedIn OAuth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={{ $('ComfyUI').item.binary.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        720
      ],
      "id": "55a1ca98-319b-4426-b102-90e743961d63",
      "name": "Upload Media",
      "credentials": {
        "httpHeaderAuth": {
          "id": "z04N7hCzKnMtAJIB",
          "name": "LinkedIn OAuth"
        }
      }
    }
  ],
  "pinData": {
    "9am hour": [
      {
        "json": {
          "timestamp": "2026-03-27T09:26:46.010-04:00",
          "Readable date": "March 27th 2026, 9:26:46 am",
          "Readable time": "9:26:46 am",
          "Day of week": "Friday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "27",
          "Hour": "09",
          "Minute": "26",
          "Second": "46",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-05T17:58:16.023Z",
      "createdAt": "2026-04-05T17:58:16.023Z",
      "role": "workflow:owner",
      "workflowId": "jSkVP62ggEVVGrdS",
      "projectId": "t74UsjIgT3c9HuwP"
    }
  ],
  "staticData": {
    "node:9am hour": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-08T10:39:16.848Z",
  "versionId": "f522617e-0f4c-432c-b07a-6d781c27f7e0"
}