workflows/MaRhtiVmEiR5X7fR.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Android Authority": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Android Police": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Android Headlines": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Droid Life": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Android Central": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Add tableName field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Filter for Android",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Android Police",
            "type": "main",
            "index": 0
          },
          {
            "node": "Android Authority",
            "type": "main",
            "index": 0
          },
          {
            "node": "Android Headlines",
            "type": "main",
            "index": 0
          },
          {
            "node": "Droid Life",
            "type": "main",
            "index": 0
          },
          {
            "node": "Android Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Android": {
      "main": [
        []
      ]
    },
    "Add tableName field": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-23T18:38:13.238Z",
  "id": "MaRhtiVmEiR5X7fR",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "getAndroidRss",
  "nodes": [
    {
      "parameters": {
        "url": "https://www.androidauthority.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        128
      ],
      "id": "c23554d3-72e4-4299-937b-e7b15ab12bce",
      "name": "Android Authority",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.androidpolice.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        320
      ],
      "id": "26c18bce-0538-4d56-b0b6-b4bffc74b708",
      "name": "Android Police",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.droid-life.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        512
      ],
      "id": "a8443601-0f51-43d7-902a-b4a96746fcb6",
      "name": "Droid Life",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.androidheadlines.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        -64
      ],
      "id": "dfe9dc1d-e804-4cfe-b141-0b9df1a3ac2c",
      "name": "Android Headlines",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://www.androidcentral.com/feeds.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        704
      ],
      "id": "1873f404-7cea-4298-af93-1b1fb447ce69",
      "name": "Android Central",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        272
      ],
      "id": "4c656065-ec44-4830-a0b5-e3288c0da61e",
      "name": "Merge",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "link",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        944,
        320
      ],
      "id": "bd2c7301-3122-4ea8-be47-b3f7e2294f7e",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        16,
        320
      ],
      "id": "7d2273b4-1dce-42d9-b9eb-4d2e09777380",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "803a41cd-8fc5-4ee1-9dad-332349359602",
              "leftValue": "={{ $json.title }}",
              "rightValue": "=Android",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1168,
        320
      ],
      "id": "5bbd7a33-fc51-41ce-bf59-b0bd7a6c064a",
      "name": "Filter for Android"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "826d99f2-56e1-4123-b89d-14b154f926d3",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "70120e67-63b4-4aa7-9a66-53ae840f4350",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            },
            {
              "id": "4344dbcf-7b9b-48da-af1e-b0ebe7c9755e",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "ca70a453-0244-4b85-940e-07438c81b676",
              "name": "tableName",
              "value": "android-articles",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        320
      ],
      "id": "40aa6cf9-feaf-4dfb-8cf4-47c35a4b80ca",
      "name": "Add tableName field",
      "notesInFlow": true,
      "notes": "DB Table \"android-articles\" field added to each object."
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-23T18:38:13.242Z",
      "createdAt": "2026-03-23T18:38:13.242Z",
      "role": "workflow:owner",
      "workflowId": "MaRhtiVmEiR5X7fR",
      "projectId": "9zdj01WOZxeIxACP"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-25T13:39:19.000Z",
  "versionId": "3be788c8-c6fd-472e-b0bb-f3b00f432cd5"
}